$mainFont: 'Kumbh Sans', sans-serif;
$transitionKit: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Background
$backgroundViolet: hsl(273, 75%, 66%);
$backgroundBlue: hsl(240, 73%, 65%);
$backgroundBody: #FFF;

$colorDivider:hsl(240, 5%, 91%);